@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import 'tailwindcss';

@theme {
  --font-oswald: 'Oswald', sans-serif;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  @apply bg-white px-20 py-4 text-neutral-800;
}

h1 {
  @apply font-oswald;
}

button {
  cursor: pointer;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.fade-enter-active,
.fade-exit-active,
.fade-exit-active .animate-img,
.fade-exit-active .animate-content,
.fade-enter-active .animate-img,
.fade-enter-active .animate-content {
  transition: all 0.5s ease;
}

.fade-enter .animate-img {
  opacity: 0;
}

.fade-exit-active .animate-img {
  opacity: 0.3;
  filter: blur(12px) contrast(120%) saturate(130%);
}

.fade-enter .animate-content {
  opacity: 0;
}

.fade-exit-active .animate-content {
  opacity: 0.3;
}